
.result-text {
  text-align: center;
  height: 100%;
  min-height: 20vh;
}
.result-text .text {
  padding: 0 10px;
  color: white;
}
.result-text h2 {
  color: white;
}
.result-text .text p {
  font-size: 1.3em;
}
.result-text .text h2 {
  margin-top: 15px;
}
.result-percentage {
  display: flex;
  height: 45vh;
}
.result-percentage .percentage {
  margin: auto;
}
.block-next {
  height: 10vh;
}
.block-next .link-button {
  width: 80%;
  margin: auto;
}

.header-inscription {
    height: 20vh;
    line-height: 17vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 67%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 67%);
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
}