.bi-availability td {
    border: 2px solid white;
}

#availability {
  padding: 0 6px;
  color: white;
}

#availability tbody {
  font-size: 0.85em;
}

#availability .NO {
    background-color: #FFF5DF;
} 

#availability table td, #availability table th, #howItWorks .costs table, #howItWorks .costs tbody {
    text-align: center;
}

#availability table td:hover, #availability table th:hover {
    color: #5a2149;
    background-color: #FFC422;
}

#availability .YES {
    background-color: #FFC422!important;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 7px;
}

.table>tbody>tr>th {
    border-top: none;
}

.header-inscription {
    height: 30vh;
    line-height: 20vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 67%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 67%);
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
}