@font-face {
    font-family: Futura_Book_Reg;
    src: url("font/futura_new/Futura New Book Reg.otf");
}
@font-face {
    font-family: Futura_Bold_Reg;
    src: url("font/futura_new/Futura New Bold Reg.otf");
}
@font-face {
    font-family: Futura_Demi_Reg;
    src: url("font/futura_new/Futura New Demi Reg.otf");
}