<div class="container">
  <div class="row">
    <div class="header-result">
      <div class="logo-div">
        <div class="logo">
        </div>
      </div>
    </div>
    <div class="result-text">
      <div *ngIf="percentage == 100" class="text">
          <h2>Niveau Confirmé</h2>
      </div>
      <div *ngIf="percentage >= 80 && percentage < 100" class="text">
         <h2>Niveau Intermédiaire</h2>
      </div>
      <div *ngIf="percentage >= 50 && percentage < 80" class="text">
         <h2>Niveau Intermédiaire</h2>
      </div>
      <div *ngIf="percentage < 50" class="text">
          <h2>Niveau Débutant</h2>
      </div>
    </div>
    <div class="result-percentage">
       <div class="c100 p{{percentage_delay}} big percentage">
        <span>{{ percentage }}%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
    </div>
    <div class="result-text">
      <div *ngIf="percentage == 100" class="text">
          <p>Excellent ! Vous avez l'air d'être à l'aise avec le code de la route.
            Nos voitures s'adapterons à votre niveau.
          </p>
      </div>
      <div *ngIf="percentage >= 80 && percentage < 100" class="text">
          <p>Très Bon résultat, avec nos voitures et votre niveau actuel vous aurez le code en moins de deux!</p>
      </div>
      <div *ngIf="percentage >= 50 && percentage < 80" class="text">
          <p>Résultat correct mais il y a encore du travail, nos voitures adapterons leur programme à votre niveau !</p>
      </div>
      <div *ngIf="percentage < 50" class="text">
          <p>Vous avez du mal avec le code, nos voitures adapterons leur programme à votre niveau !</p>
      </div>
    </div>
    <div class="block-next align-center">
      <a routerLink="/inscription/availability" class="btn-app" routerLinkActive="active">Suivant</a>
    </div>
  </div>
</div>