
<div class="container">
    <div class="row">
        <div class="header-inscription">
            <div class="logo-div">
                <div class="logo"></div>
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
            <form class="form-horizontal" #loginForm="ngForm">
                <fieldset>
                    <div class="form-group"  [ngClass]="{'has-error' : emailError == true }">
                        <div class="col-xs-12 col-lg-10">
                            <input required type="text" class="form-control input-app" id="email" placeholder="Email" [(ngModel)]="email" name="email" autocomplete="new-password">
                            <p *ngIf="emailError" class="text-error">Vérifier votre adresse mail</p>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error' : passwordError == true }">
                        <div class="col-lg-10">
                            <input required type="password" class="form-control input-app" id="password" placeholder="Mot de passe" [(ngModel)]="password" name="password" autocomplete="new-password">
                            <p *ngIf="passwordError" class="text-error">Vérifier votre mot de passe</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2 align-center">
                            <button type="submit" (click)="submitLogin()" class="btn-app">Se connecter</button>
                            <p *ngIf="error" class="text-error">{{ error }}</p>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 no-padding">
            <div class="col-xs-12">
                <hr class="hr-left"><div class="hr-text">Ou</div><hr class="hr-right">
            </div>
            <div class="col-xs-12 align-center" style="margin-top: 10px;">
                <a routerLink="./inscription" class="btn-app" routerLinkActive="active">Je m'inscris</a>
            </div>
            <div class="col-xs-12" style="margin-top:30px;display:flex;">
                <a class="link-franceconnect"></a>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>